.modal-content {
  position: relative;
  background-color: #f0f0f0;
  padding: 1rem;
  width: 90%;
  border-radius: 0.4rem;
  box-shadow: 0 10px 10px 0 inset rgba(0, 0, 0, 0.2), 0 -10px 10px 0 inset rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 0;
  left: 0;
}

.close-button span {
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.close-button span:hover {
  background-color: darkgray;
}

.contact-details {
  display: flex;
}

.right-div {
  width: 25%;
  display: inline-block;
  position: relative;
}

.right-div img {
  height: 40%;
  border-radius: 50%;
}

.details-div {
  width: 75%;
  text-align: left;
  padding: 0.5rem;
}

.details-div h2 {
  margin: 0;
  color: #aaaaaa;
  font-weight: 300;
}

.details-div table {
  margin-top: 1rem;
}

.details-div table td:first-child {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .modal-content {
    right: 0;
    left: 0;
    margin: auto auto;
    position: absolute;
    width: 80%;
  }

  .right-div img {
    height: 30%;
  }

  .details-div h2 {
    padding-left: 1rem;
  }

  .details-div table {
    table-layout: fixed;
    width: 100%;
  }

  .details-div table td:first-child {
    width: 35%;
}

.details-div table td:nth-child(2) {
  word-wrap: break-word;
  width: 65%;
}

}