.app-background {
  min-height: calc(100vh - 2em);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d6d6d6;
    padding-bottom: 2em;
}

.directory {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.alphabet {
    margin: 0;
    padding: 0;
    display: flex;
}

.no-data {
  margin: 5rem;
  font-size: 3rem;
}

.contact-div {
  padding-top: 30px;
  background-color: #f0f0f0;
  height: 100%;
  padding-bottom: 200px;
}

.contact {
  text-align: left;
  padding: 0px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 767px) {
  .directory {
    display: flex;
    flex-direction: row;
  }

  .alphabet-div {
    width: 20%;
    overflow: scroll;
    position: sticky;
    top: 0;
    max-height: 100vh;
  }

  .alphabet {
    display: inline-grid;
    width: 100%;
  }

  .contact-div {
    height: auto;
    width: 80%;
  }
  .contact {
    width: 90%;
    grid-template-columns: 1fr;
  }
}
